*{
	padding: 0;
	margin: 0;
}
nav {
	background-color: #92278f;


}
nav a{
	color: white;
}
nav a:hover, nav a:focus {
    color: #92278f;
    text-decoration: none;

}
nav .esconder .dropdown-menu a:hover{
	color: #ffbffd;
}
nav li{
	text-align: center;
}
ul{
	list-style-type: none;
}
.dropdown-menu li{
	text-align: left;
	color:  #92278f !important; 
	display: block;
	padding-left: 4px;
	padding: 4px;
}
.dropdown-item {
	color:  #92278f !important; 

}
@media (max-width: 800px){
	.dropdown-item {
	color:  white !important; 

}
	}

a{
	text-decoration: none;
}
span{
	background-color: white;

}
footer{
	bottom: 0;
	position: fixed;
	background-color: #92278f;
	color: white;
	width: 100%;
	font-size: 15px;
	text-align: center;
	height: 20px;
	margin-top: 10px;
}