
*{
  margin: 0;
  padding: 0;
}
table {
  margin: auto;
  width: 80%;
}
.tabla{
  width: 100%;
  text-align: center;
}
caption {
  text-align: left;
  color: silver;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

thead {
  background: #92278f;
  color: white;
}

th,
td {
  padding: 5px 10px;
}

tbody tr:nth-child(even) {
  background: WhiteSmoke;
}

tbody tr td:nth-child(2) {
  text-align:center;
}

tbody tr td:nth-child(3),
tbody tr td:nth-child(4) {
  text-align: right;
  font-family: monospace;
  font-size: 14px;
}

tfoot {
  background: #92278f;
  color: white;
  text-align: right;
  width: 25px;
}


.popup{
   display: block;
    z-index: 100;
    position: sticky;
}
.overlay{
    display: none;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    vertical-align: middle;
    text-align: center;
}
input[type="submit"] { cursor: pointer; }
.Pop {
    margin: 50px auto;
    width: 400px;

    border: 1px solid #ccc;
    z-index: 100;
    display: block;
    position: absolute;
    left: 30%;
     -moz-box-shadow: 0px 0px 10px 1px #888888;
    -webkit-box-shadow: 0px 0px 10px 1px #888888;
    box-shadow: 0px 0px 10px 1px #888888;
}
.Pop h1 {
    background-color: #92278f;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}
.Pop fieldset {
    border: none;
    margin: 0;
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    position: relative;
}

.Pop input[type="submit"] {
    background: #92278f;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-weight: bold;
    margin-top: 20px;
    padding: 12px 20px;
}

.Pop input[type="submit"]:hover { background: #1c83a8; }
