nav {
	background-color: #92278f;
	color: white;

}
nav a{
	color: white;
}
nav a:hover, nav a:focus {
    color: #92278f;
    text-decoration: none;

}
nav .esconder .dropdown-menu a:hover{
	color: #ffbffd;
}
nav li{
	text-align: center;
	
}

.dropdown-menu li{
	text-align: left;
	color:  #92278f;
	display: block;
	padding-left: 4px;
	padding: 4px;
}

a{
	text-decoration: none;
}
span{
	background-color: white;

}
