.galeria{
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}
.articulo {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 24%;
    text-align: center;
	display: inline-block;
}
nav {
	background-color: #92278f;
	color: white;

}
nav a{
	color: white;
}
nav a:hover, nav a:focus {
    color: #92278f;
    text-decoration: none;

}
nav .esconder .dropdown-menu a:hover{
	color: #ffbffd;
}
nav li{
	text-align: center;
}

.dropdown-menu li{
	text-align: left;
	color:  #92278f;
	display: block;
}

a{
	text-decoration: none;
}
span{
	background-color: white;

}
.header{
	display: block;
	text-align: center;
}
.logo{
	width: 80%;
	margin: auto;
}
.logo img{
	width: 100%;
}
.menu{
	background-color: white;
	display: inline-block;
	width: 100%;
	text-align: center;
	/*float:left; */
}
.menu-lista{
	position: relative;
	margin: auto;
	/*float: left;*/
}


.nav-item {
 display: inline-block;
 padding: 6px;
 position: relative;
}

.menu a{
	color:  #92278f;
	text-decoration: none;
	font-size: 17px;
}
.menu li{
	border-radius: 5px;
}
.menu li:hover{
	background-color: #f1d1ff;
}
.menu .dropdown-menu li:hover{
	background-color: #f1d1ff;
	}
.esconder{
	display: none !important;
}

@media (max-width: 500px){
	.menu{
		display: none;
	}
	.esconder{
		display: block !important;
	}
}
footer{
	bottom: 0;
	display: block;
	background-color: #92278f;
	color: white;
	width: 100%;
	font-size: 15px;
	text-align: center;
	height: 20px;
	position: relative;
}
@media only screen and (max-width: 1240px){
    .articulo {
        width: 33%;
    }
    .galeria{
    	max-width: 940px;	
    }
}
@media only screen and (max-width: 940px){
    .articulo {
        width: 49%;
     }
    .galeria{
    	max-width: 640px;
    }
}

@media only screen and (max-width: 620px){
    .articulo{
    width: 100%;
    }
    .galeria{
    	max-width: 300px;
    }
}
.imagen {
    margin: 5px;
    border: 1px solid #ccc;
    width: 300px;
    display: block;
}

.imagen:hover {
    border: 2px solid #92278f;
}

.imagen img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
    display: block;
}

#map{
	height: 500px;
}